:root {
    --amplify-primary-color: lightcoral;
    --amplify-primary-tint: white;
    --amplify-primary-shade: black;
    --amplify-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: lightcoral;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: lightcoral;
}

.soundsList {
    display: flex;
    flex-direction: column;
}

.soundsCard {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.soundTitle {
    font-weight: bold;
    font-size: 25px;
}

.soundOwner {
    color: lightcoral;
}

.AudioPlayer {
    display: flex;
    justify-content: center;

}

.rhap_container {
    background-color: honeydew;
}

.rhap_time {
    color: white;
}

.rhap_theme {
    color: black;
}